:root {
    --element-spacing: 1.5rem;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);
}

.left > * {
    margin-right: 2rem;
    font-weight: bold;
    color: white
}

.right {
    display: flex;
    align-items: center;
}
.right > * {
    margin-left: var(--element-spacing);
}